################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IBLT
/bin/Debug
/obj
/Tests/bin/*
/Tests/obj
/.vs/ProjectEvaluation
/IBLT/bin/*
/IBLT/obj
