################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IBLT
/bin/Debug
/obj
/Tests/bin/*
/Tests/obj
/TestConsoleApp/bin/*
/TestConsoleApp/obj
/.vs/ProjectEvaluation
/IBLT/bin/*
/ChecksumCosmosClient/bin/*
/ChecksumCosmosClient/obj/*
/IBLT/obj
